In [10]:
--Feladat 1

Select tipus, ROUND(AVG (CSILLAGOK_SZAMA),0)
From szallashely
Where tipus!='panzió' 
Group by TIPUS
Having Round(Avg(Csillagok_szama),0)>=3

tipus,(No column name)
Hotel,3

In [12]:
--Feladat 2
Select  CASE WHEN Year(v.SZUL_DAT)>=1985 THEN 'fiatal'
WHEN Year(v.Szul_dat)<1970 THEN 'idős' ELSE 'középkorú' END, Count(f.FOGLALAS_PK)
From vendeg v JOIN Foglalas f ON v.USERNEV=f.UGYFEL_FK
Where f.FELNOTT_SZAM>=2
Group by CASE WHEN Year(v.SZUL_DAT)>=1985 THEN 'fiatal'
WHEN Year(v.Szul_dat)<1970 THEN 'idős' ELSE 'középkorú' END

(No column name),(No column name)
fiatal,228
idős,65
középkorú,267